.checkout-holder-con{
    width: 80%;
    margin-left: 10%;
    margin-top: -1%;
    float: left;

}

.checkout-item-con {
    width: 70%;
    height: 200px;
    margin-right: 1%;
    margin-top: .5%;
    margin-bottom: .5%;
    background-color: #222126;
    border-radius: 5px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.checkout-pay {
    width: 29%;
    height: auto;
    padding-bottom: 1%;
    
    margin-top: .5%;
    margin-bottom: .5%;
    background-color: #222126;
    border-radius: 5px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    float: right;
}

.checkout-stats {
    height: 100%;
    width: 30%;
    margin: 0;
    float: left;
}

.checkout-stats-1 {
    height: 100%;
    width: 20%;
    margin: 0;
    float: left;
}

.checkout-wine-img {
    height: 92%;
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1%;
    float: left;
    border-radius: 5px;
    max-width: 20%;
    object-fit: cover;
}

.checkout-text {
    float: left;
    margin: 0;
    margin-top: 8.5%;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 90%;
}

.checkout-text-1 {
    float: left;
    margin: 0;
    margin-top: 8.5%;
    margin-left: 2%;
    width: 100%;
}

.checkout-text-2{
    float: left;
    margin: 0;
    margin-top: 5%;
    margin-left: 2%;
    width: 90%;
    height: 48%;
    overflow: hidden;
}

.checkout-link-text {
    float: left;
    margin: 0;
    margin-top: 2%;
    margin-left: 2%;
    width: 45%;
    color: #2798D3;
}


.checkout-pay-title{
    float: left;
    margin: 0;
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
}

.checkout-total-price {
    width: 100%;
    
    float: left;
}

.checkout-total {
    float: left;
    margin: 0;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 3%;
}

.checkout-total-nr {
    float: right;
    margin: 0;
    margin-top: 5%;
    margin-right: 3%;
    font-weight: bold;
}

.checkout-product-button {
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;

    background-color: #D32748;
    border-radius: 10px;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
}

.checkout-text-right {
    float: right;
    margin: 0;
    margin-top: 8.5%;
    width: 100%;
    text-align: right;
}

.checkout-text-right-1{
    float: right;
    margin: 0;
    margin-top: 15%;
    width: 30%;
    text-align: right;
}

.checkout-delete-con {
    float: right;
    width: 100%;
    margin-top: 14%;
    margin-right: 3%;
}

.checkout-edit-img {
    width: 13%;
    float: right;
    margin-right: 2%;
    margin-top: 13%;
}

.checkout-options-con {
    float: right;
    height: 100%;
    width: 25%;
    margin: 0;

    margin-right: 2%;
}