.login-con{
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.726), rgba(0, 0, 0, 0.808)), url(https://images.unsplash.com/photo-1562601579-599dec564e06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left center;
}

.sign-logo{
    height: 8%;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
}  

.signin-con{
    width: 40%;
    padding-bottom: 2%;
    margin-top: 10%;
    margin-left: 15%;
    background-color: rgba(10, 10, 10, 0.856);
    float: left;
}

.sing-title{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 45%;
}

.sign-text{
    float: left;
    width: 50%;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 25%;
}

.sign-text-left{
    float: left;
    width: 40%;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 11.5%;
}

.sign-text-right{
    float: right;
    width: 40%;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-right: 5%;
    text-align: left;
}

.singbar{
    height: 3vh;
    width: 50%;
    padding-left: 1%;
    border-radius: 6px;
    border: none;
    float: left;
  
    margin-top: 1.25%;
    margin-left: 25%;
  
    /* background-image:url('https://cdn-icons-png.flaticon.com/512/546/546394.png'); */
    background-repeat:no-repeat;
    background-position: 2% 50%;;  
    background-size: 4.5%;
    /* padding-left: 30px; */
}

.passbar{
    height: 3vh;
    width: 50%;
    padding-left: 1%;
    border-radius: 6px;
    border: none;
    float: left;
  
    margin-top: 1.25%;
    margin-left: 25%;
  
    /* background-image:url('https://cdn-icons.flaticon.com/png/512/2889/premium/2889676.png?token=exp=1659384039~hmac=52819566ef2c12b71e023d9d352c1fda'); */
    background-repeat:no-repeat;
    background-position: 2% 50%;;  
    background-size: 4.5%;
    /* padding-left: 30px; */
}

.left-input{
    height: 3vh;
    width: 35%;
    border-radius: 6px;
    border: none;
    float: left;
    padding-left: 1%;
    margin-top: 1.25%;
    margin-left: 10%;
    background-repeat:no-repeat;
    background-position: 2% 50%;;  
    background-size: 4.5%;
}

.right-input{
    height: 3vh;
    width: 35%;
    border-radius: 6px;
    border: none;
    float: right;
    padding-left: 1%;
    margin-top: 1.25%;
    margin-right: 10%;
    background-repeat:no-repeat;
    background-position: 2% 50%;;  
    background-size: 4.5%;
}

.sign-button{
    width: 54%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 14px;
    background-color: #D32748;
    border-radius: 10px;
    float: left;
    margin-top: 5%;
    margin-left: 25%;
}

.sign-up-button{
    float: left;
    margin: 0;
    margin-top: 3%;
    margin-left: 48%;
    width: 100%;
    color: #2798D3;
    background: none;
    border: none;
    font-size: 14px;
}
