.stock-holder-con {
    width: 85%;
    margin-left: 10%;
    margin-top: -1%;
    float: left;
}

.edit-top-con{
    height: 95%;
}

.stock-con{
    width: 23%;
    height: 150px; 
    margin-right: 1%; 
    margin-top: .5%; 
    margin-bottom: .5%;
    background-color: #222126;
    border-radius: 5px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.stock-divider{
    height: 10%;
    width: 80.5%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    float: left;
    border-radius: 5px;
    background-color: #222126;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
  
.stock-divider-text{
    margin-left: 3%;
}

.stock-wine-img{
    height: 95%;
    margin-top: 1.5%;
    margin-left: 1.5%;
    float: left;
    border-radius: 5px;
    max-width: 30%;
    object-fit: cover;
}

.stock-left{
    float: left;
    width: 50%;
    margin: 0;
    margin-top: 4%;
    margin-left: 3%;
}

.stock-left1{
    float: left;
    width: 100%;
    margin: 0;
    margin-top: 2%;
    margin-left: 15px;
}

.stock-left2{
    float: left;
    width: 100%;
    margin: 0;
    margin-left: 15px;
}

.stock-left-blue{   
    float: left;
    width: 50%;
    margin: 0;
    margin-top: 3%;
    margin-left: 3%;
    color: #2798D3;
}

.stock-left-name{
    float: left;
    width: 30%;
    margin: 0;
    margin-left: 15px;
    font-size: 14px;
}

.stock-left-name1{
    float: left;
    width: 23%;
    margin: 0;
    margin-left: 15px;
    margin-right: 6%;
    font-size: 14px;
}

.stock-nr-con{
    width: 57%;
    float: left;
    margin-left: 3%;
    margin-top: 4%;
}

.stock-left-1{
    float: left;
    margin: 0;
    margin-right: 3%;
}

.edit-con{
    width: 55%;
    float: right;
    margin-top: 20%;
}

.edit-img{
    width: 17%;
    float: right;
    margin-left: 13%;
}


.stock-modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.644);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
}

.edit-stock-con{
    background-color: #222126;
    width: 50%;
    height: auto;
    padding: 1%;
    margin-left: 22%;
    margin-top: 5%;
    border-radius: 10px;
    float: left;
}


.edit-stock-wine-img{
    height: 400px;
    width: 90%;
    margin-top: 1.5%;
    margin-left: 1.5%;
    float: left;
    border-radius: 15px;

    background-color: #f7f7f7;
    float: left;
    max-width: 90%;
    object-fit: cover;
}

.edit-input{
    height:6%;
    width: 90%;
    padding-left: 1%;
    border-radius: 6px;
    border: none;
    float: left;
    margin-top: 1.25%;
    margin-left: 3%;
}

.edit-input-description{
    height:20%;
    width: 92%;
    padding-left: 1%;
    border-radius: 6px;
    border: none;
    float: left;
    margin-top: 1.25%;
    margin-left: 15px;
    font-size: 16px;
}

.small-edit-con{
    width: 100%;
    float: left;
    margin-top: 3%;
}
.small-edit-con1{
    width: 49%;
    float: left;
    margin-top: 3%;
}

.edit-input-small{
    height: 30px;
    width: 24%;
    padding-left: 5%;
    border-radius: 6px;
    border: none;
    float: left;
    margin-top: 1.5%;
    margin-left: 15px;
}

.edit-input-small1{
    height: 30px;
    width: 85%;
    padding-left: 5%;
    border-radius: 6px;
    border: none;
    float: left;
    margin-top: 1.5%;
    margin-left: 15px;
}

.edit-button{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: white;
    background-color: #D32748;
    border-radius: 10px;
    float: left;
    margin-top: 3%;
    margin-left: 2%;
}

.delete-button{
    color: #2798D3;
    float: left;
    margin-top: 3.25%;
    margin-left: 5%;
    font-size: 18px;
}

.add-product-button{
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-size: 14px;
    background-color: #D32748;
    border-radius: 10px;
    float: right;
    margin-top: 7%;
    margin-right: 9.5%;
}

.add-product-button1{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 14px;
    background-color: #D32748;
    border-radius: 10px;
    float: left;
    margin-top: 5%;
    margin-left: 2%;
}

.addStock-left-con{
    width: 40%;
    float: left;
}

.addStock-left-con1{
    width: 60%;
    float: left;
}